.page {
    
    height: 100%;
    display: flex;
    
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.grid-container {
    padding: 20px;
    border: 2px solid #0ff;
    border-radius: 10px;
    gap: 8px;
    margin: auto;
    box-shadow: 0 0 20px #0ff;
}

.classification {
   color: #0ff;

}

.pvp-item {
    gap: 20px;
    width: 300px;
    height: 300px;
}

.grid-item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
        
        max-width: 200px;
        width: 100%;
        max-height: 140px;
        height: 100%;
    }

.card-title {
    color: #0ff;
    font-size: 1rem;
    margin: 15px auto;
}

.grid-item img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.grid-item i {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #0ff;
    color: #0ff;
    border-radius: 50%;
    font-size: 2rem;
}
.btn-primary {
    background-color: #0ff;
    border: none;
    word-wrap: break-word;
    color : #000;
    font-size: 1.2rem;
}
.btn-primary:hover {
    background-color: #0aa;
}


.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.confetti-piece {
    position: absolute;
    width: 10px;
    height: 20px;
    background: linear-gradient(45deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
    animation: confetti-fall 5s infinite;
}

.congrats {
    font-size: 24px;
    color: #00e5ff;
    text-shadow: 0 0 10px #00e5ff;
    margin-bottom: 20px;
}

.podium {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 240px;
    margin-bottom: 50px;
}

.podium .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    padding: 10px;
    border: 2px solid #00ffea;
    background: #111;
    box-shadow: 0 0 10px #00ffea;
    text-align: center;
    position: relative;
}

.podium .place img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #00ffea;
    margin-bottom: 10px;
}

.podium .first {
    height: 200px;
    margin: 0 20px;
    animation: winner-animation 2s infinite;
}

.podium .second {
    height: 150px;
    margin: 0 20px;
}

.podium .third {
    height: 100px;
    margin: 0 20px;
}

.podium-final {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes winner-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}